@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya-SemiBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya-ExtraBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya-BlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 900;
}
