* {
  box-sizing: border-box;
  color: #f4f1e1;
}
/* .section-1::after {
  width: 1440px;
  height: 10355px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/Frame1.svg");
  opacity: 0.3;
} */
body {
  width: 1440px;
  display: block;
  margin: 0 auto;
  font-family: "Alegreya";
  background-color: #061e37;
}
