.section-5 {
  width: 1440px;
  height: 1375px;
}
.fr4 {
  margin-top: -157px;
  margin-left: 7px;
}
.circle {
  width: 1200px;
  height: 1200px;
  position: absolute;
  top: 5368px;
  left: 143px;
}
