.section-4 {
  width: 1440px;
  height: 1156px;
}
.left {
  width: 700px;
  height: 700px;
  margin-top: 1196px;
  margin-left: -692px;
}
.taroo3 {
  width: 950px;
  height: 550px;
  margin-top: -273px;
  margin-left: 487px;
}
